{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-6 text-left">
            {% if g.user.is_anonymous %}
                <h4>Login / Register to Add Entries</h4>
            {% endif %}
        </div>
        <div class="col-md-6 text-right">
            <form role="form">
                <div class="form-group">
                    <label>Entries Per Page: </label>
                    <select name="limit">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    <input type="submit" value="Submit"/>
                </div>
            </form>
        </div>
    </div>
    
    <hr>
    
    
    {% if limit|int %}
        {% for entry in entries %}
            {{ macros.render_entry(entry) }}
        {% endfor %}
    {% else %}
        <h2 class="text-center">{{ limit }}</h2>
    {% endif %}
    
    <ul class="pager">
        {% if has_next %}
        <li class="previous">
            <a href="{{ url_for('entries', page=page + 1) }}">&larr; Older</a>
        </li>
        {% endif %}
        
        {% if has_prev %}
        <li class="next">
            <a href="{{ url_for('entries', page=page - 1) }}">&rarr; Newer</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}