{% macro render_entry(entry) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ entry.datetime | dateformat("%d/%m/%y") }}
            </li>
            <li>
                {{ entry.author.name }}
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h3>
        {% if request.endpoint.endswith("entry") %}
            {{ entry.title }}
        {% else %}
            <a href="{{ url_for('entry', id=entry.id) }}">{{ entry.title }}</a>
        {% endif %}
        </h3>
        
        {{ entry.content | markdown }}
    </div>
</div>
{% endmacro %}